:root {
  --basic-color: #2e2f42;
  --minor-color: #434455;
  --white-color: #ffffff;
  --logo-color: #4d5ae5;
}

/* Основний колір #2E2F42; */
/* Другорядний колір #434455; */
/* Білий колір #FFFFFF; */
/* Синій лого #4D5AE5; */
/* Сірий лого */

/* Стилізація ./index.html */

body {
  font-family: "roboto", sans-serif;
}
.header {
  background-color: var(--white-color);
}
.header-navigation {
}
.header-logo > span {
  color: var(--logo-color);
}
.header-logo {
  color: var(--basic-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--basic-color);
}
.header-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  color: var(--minor-color);
}
.header-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  color: var(--minor-color);
}

.section-hero {
  background-color: var(--basic-color);
}
.section-hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.section-hero-btn {
  background-color: var(--logo-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
}
.section-features {
}
.section-features-title {
}
.section-features-list {
}
.section-features-item {
}
.section-features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--basic-color);
}
.section-features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--minor-color);
}
.section-doing {
}
.section-doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--basic-color);
}
.section-doing-list {
}
.section-doing-item {
}
.section-doing-img {
}
.section-team {
}
.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--basic-color);
}
.section-team-list {
}
.section-team-item {
}
.section-team-img {
}
.section-team-suntitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--basic-color);
}
.section-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--minor-color);
}
.footer {
  background-color: var(--basic-color);
}
.footer-logo > span {
  color: var(--logo-color);
}
.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* Стилізація ./portfolio.html */
