body {
  font-family: "roboto", sans-serif;
  position: relative;
  width: 1440px;
  height: 2590px;
}
.header {
  background-color: #ffffff;
}
.header-navigation {
}
.header-logo > span {
  color: #4d5ae5;
}
.header-logo {
  color: #2e2f42;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-list {
}
.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.header-link {
}
.header-mail {
}
.header-tel {
}
.main {
}
.main-section-hero {
  background-color: #2e2f42;
}
.main-section-hero-title {
}
.main-section-hero-btn {
}
.main-section-features {
}
.main-section-features-title {
}
.main-section-features-list {
}
.main-section-features-item {
}
.main-section-features-subtitle {
}
.main-section-doing {
}
.main-section-doing-title {
}
.main-section-doing-list {
}
.main-section-doing-item {
}
.main-section-doing-img {
}
.main-section-team {
}
.main-section-team-title {
}
.main-section-team-list {
}
.main-section-team-item {
}
.main-section-team-img {
}
.main-section-team-suntitle {
}
.main-section-team-text {
}
.footer {
}
.footer-logo {
}
.footer-text {
}
